<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>educationservlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ctestservlet</servlet-name>
        <servlet-class>educationservlet.ctestservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateServlet</servlet-name>
        <servlet-class>educationservlet.AdminUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>educationservlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>educationservlet.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>educationservlet.RegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>educationservlet.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>educationservlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>educationservlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhyServlet</servlet-name>
        <servlet-class>educationservlet.PhyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChemServlet</servlet-name>
        <servlet-class>educationservlet.ChemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MathServlet</servlet-name>
        <servlet-class>educationservlet.MathServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EngServlet</servlet-name>
        <servlet-class>educationservlet.EngServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CsServlet</servlet-name>
        <servlet-class>educationservlet.CsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhysicsServlet</servlet-name>
        <servlet-class>educationservlet.PhysicsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChemistryServlet</servlet-name>
        <servlet-class>educationservlet.ChemistryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MathsServlet</servlet-name>
        <servlet-class>educationservlet.MathsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnglishServlet</servlet-name>
        <servlet-class>educationservlet.EnglishServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComputerServlet</servlet-name>
        <servlet-class>educationservlet.ComputerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>educationservlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ctestservlet</servlet-name>
        <url-pattern>/ctestservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateServlet</servlet-name>
        <url-pattern>/AdminUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/RegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhyServlet</servlet-name>
        <url-pattern>/PhyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChemServlet</servlet-name>
        <url-pattern>/ChemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MathServlet</servlet-name>
        <url-pattern>/MathServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EngServlet</servlet-name>
        <url-pattern>/EngServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CsServlet</servlet-name>
        <url-pattern>/CsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhysicsServlet</servlet-name>
        <url-pattern>/PhysicsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChemistryServlet</servlet-name>
        <url-pattern>/ChemistryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MathsServlet</servlet-name>
        <url-pattern>/MathsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnglishServlet</servlet-name>
        <url-pattern>/EnglishServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComputerServlet</servlet-name>
        <url-pattern>/ComputerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
